body {
    padding : 2%;
    background-color : white;
}

.bg {
    background-color : rgb(230, 235, 235);
    padding : 3%;
    border : rgb(230, 235, 235) groove 2px;
}

div.menu {
    display : table;
    float : left;
    width : 10%;
    padding-left : 2%;
    padding-right : 2%;
    padding-top : 3%;
    padding-bottom : 3%;
    background-color : rgb(153, 247, 216);
    outline : black solid thick;
}

.menu-item {
    width : 100%;
    display : td;
    text-align : center;
    vertical-align : middle;
    padding-top : 10px;
    padding-bottom : 10px;
}

.readable {
    padding-top : 3%;
    padding-left : 18%;
    padding-right : 8%;
}

#heading {
    background-color : rgb(135, 221, 221);
    padding-left : 6%;
    padding-top : 3%;
    padding-bottom : 3%;
    border-radius : 3px;
    border-color : rgb(135, 221, 221);
    border-width : 5px 5px 5px 18px;
    border-style : ridge;
}

#format1 {
    padding-left : 5%;
    padding-right : 5%;
}

#main {
    padding-left : 4%;
    padding-right : 4%;
    padding-bottom : 24px;
    background-color : rgb(162, 232, 232);
    border-color : rgb(153, 219, 219);
    border-style : ridge;
    border-width : 12px;
    border-radius : 4px;
}

.para {
    padding-left : 6%;
    padding-right : 6%;
    text-indent : 6%;
}